/3rdSemester/13. Jobsheet13/HelloGui/target/
/3rdSemester/13. Jobsheet13/ManajemenLayout/target/
/3rdSemester/13. Jobsheet13/PercobaanGUI/target/
/3rdSemester/13. Jobsheet13/PercobaanGUI2/target/
/3rdSemester/13. Jobsheet13/Assignment/target/
/3rdSemester/15. Jobsheet15/Library/nbproject/private/
/3rdSemester/15. Jobsheet15/Library/build/
/3rdSemester/16. Final/FinalExam/nbproject/private/
/3rdSemester/16. Final/FinalExam/build/
